@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
:root {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

html {
  @apply font-sans;
}

html {
  scroll-behavior: smooth;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

/* swipert style */
.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #ddd;
}

/* Change the default color of the pagination dots */
.swiper .swiper-pagination-bullet {
  background-color: #39b54a !important; /* Your custom color */
}

/* Change the color of the active pagination dot */
.swiper .swiper-pagination-bullet-active {
  background-color: #39b54a !important; /* Your custom active dot color */
}
